<span class="gdrivelist-actions">
  <%= partial :'lti/_content_items', file: file, type: :link, btn_label: 'Link' %>
  <%= partial :'lti/_content_items', file: file, type: :embed, btn_label: 'Embed' %>
</span>
