<!doctype html>
<html lang="en">
  <head>
	  <title>Canvas/GDrive LTI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<%= Rack::Csrf.metatag(env) %>
		<link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
		<div class="container">
			<div>
				<%if @error %>
						<div class="alert alert-error"><%=@error%></div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<script src="/assets/js/app.js"></script>
  </body>
</html>
