<div class="googleauth authorize">
    <p>You need to authorize this integration with your Google account in order to use it.</p>
    <p>Click the button below and after you finished authorizing, click the "Next" button.</p>

    <div>
        <a class="googleauth-btn" href="/google-auth" target="_blank">Authorize on Google</a>
    </div>
    <div>
        <form method='post' action='/lti/course-navigation'>
            <% params.except(:captures).each do |key, val| %>
            <input type="hidden" name="<%= key %>" value="<%= val %>" />
            <% end %>
            <button type="submit" class="googleauth-next">Next</button>
        </form>
    </div>
</div>
