<div class="googleauth">
    <h1>Logged In successfuly!</h1>
    <p>(If this window doesn't close in 5 seconds, you may close it.)</p>
</div>

<script type='text/javascript'>
    setTimeout(window.close, 5000);
</script>
