body {
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
}

.container {
    margin: 5em auto;
    max-width: 900px;
}

.credentials-new {
    text-align: center;
}

.credentials-generate-btn {
    background-color: #206da0;
    border: none;
    border-radius: .5em;
    box-shadow: #444 1px 1px 1px;
    color: #fff;
    padding: 1em 2em;
}

.credentials-generate-btn:hover {
    background-color: #497b9c;
    cursor: pointer;
}

.credentials-created {
    text-align: center;
}

.credential {
    padding: 1em 0;
}

.credential-label {
    margin: .5em 0;
}

.credential-value {
    background-color: #95caec;
    margin: 0 auto;
    max-width: 400px;
    padding: 1em;
    width: 50%;
}
