.credentials-new {
  text-align: center;
}

.credentials-generate-btn {
  background-color: $blue;
  border: 0;
  border-radius: .5em;
  box-shadow: $text 1px 1px 1px;
  color: $white;
  padding: 1em 2em;

  &:hover {
    background-color: lighten($blue, 10%);
    cursor: pointer;
  }
}

.credentials-created {
  text-align: center;
}

.credential {
  padding: 1em 0;
}

.credential-label {
  margin: .5em 0;
}

.credential-value {
  background-color: $light-blue;
  margin: 0 auto;
  max-width: 400px;
  padding: 1em;
  width: 50%;
}
