.loader {
  animation: load3 1.4s infinite linear;
  background: linear-gradient(to right, $blue 10%, $white 42%);
  border-radius: 50%;
  font-size: 10px;
  height: 11em;
  margin: 50px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 11em;

  &::after {
    background: $white;
    border-radius: 50%;
    bottom: 0;
    content: '';
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
  }

  &::before {
    background: $blue;
    border-radius: 100% 0 0;
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
}

@keyframes load3 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
