$text: #444;
$blue: #206da0;
$light-blue: #497b9c;
$light-grey: #ddd;
$dark-grey: #555;
$white: #fff;

body {
  color: $text;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: $text;
  text-decoration: none;
}

.container {
  margin: 5em auto;
  max-width: 900px;
}

.credentials-new {
  text-align: center;
}

.credentials-generate-btn {
  background-color: $blue;
  border: 0;
  border-radius: .5em;
  box-shadow: $text 1px 1px 1px;
  color: $white;
  padding: 1em 2em;

  &:hover {
    background-color: $light-blue;
    cursor: pointer;
  }
}

.credentials-created {
  text-align: center;
}

.credential {
  padding: 1em 0;
}

.credential-label {
  margin: .5em 0;
}

.credential-value {
  background-color: lighten($light-blue, 30%);
  margin: 0 auto;
  max-width: 400px;
  padding: 1em;
  width: 50%;
}

.googleauth {
  text-align: center;

  h1 { margin: 2em auto; }

  p { margin-bottom: 1em; }

  .show {
    display: inline-block;
    transition: display 1s ease-in-out;
  }

  .hide {
    display: none;
    transition: display 1s ease-in-out;
  }
}

.googleauth-btn,
.googleauth-next {
  background-color: $light-grey;
  border-color: $dark-grey;
  border-radius: .5em;
  box-shadow: $text 2px 2px 2px;
  color: $text;
  display: inline-block;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  width: 200px;
}

.googleauth-btn:hover,
.googleauth-next:hover {
  background-color: lighten($light-grey, 10%);
  box-shadow: lighten($dark-grey, 10%) 2px 2px 2px;
}

.googleauth-next {
  display: none;
  font-size: 1em;
}

.gdrivelist ul {
  list-style: none;
}

.gdrivelist-folders {
  border-bottom: solid 1px $light-grey;
  padding: 0 2em;
}

.gdrivelist-files {
  padding: 0 2em;
}

.gdrivelist-folder,
.gdrivelist-file {
  display: inline-block;
  padding: .5em 1em 1em;
  width: 100%;

  &:hover {
    background-color: lighten($light-grey, 10%);
  }
}


.gdrivelist-icon {
  border: solid .01em $dark-grey;
  border-radius: 1em;
  margin-bottom: -.7em;
  margin-right: 1em;
  padding: .5em;
  width: 1em;
}

.gdrivelist-arrow {
  color: lighten($dark-grey, 20%);
  float: right;
  font-weight: bold;
  margin-top: .7em;
}
