<div class="credentials-created">
    <h2>Generated Key and Secret</h2>

    <div class="credential">
        <div class="credential-label">Your LTI <b>Key</b> is:</div>
        <div class="credential-value"><%= credential.key %></div>
    </div>

    <div class="credential">
        <div class="credential-label">Your LTI <b>Secret</b> is: </div>
        <div class="credential-value"><%= credential.secret %></div>
    </div>

    <p>Make sure to write these credentials down.</p>
</div>
