<div class="credentials-new">
    <p>Click the button below to generate your LTI credentials</p>
    <form method="post" action="/credentials">
        <button type="submit" class="credentials-generate-btn">Generate Credentials</button>
    </form>
</div>
